<?xml version="1.0"?>

<launch>
    <!-- Launches the drivers and sets parameters for the ur5 arm -->
    <!-- Mostly taken from the ur_common.launch inside ur_common.launch -->

    <arg name="robot_ip" default="192.168.131.18"/>
    <arg name="reverse_port" default="50001"/>
    <arg name="min_payload" default="0.0"/>
    <arg name="max_payload" default="10.0"/>
    <arg name="prefix" default="ur5_arm_"/> <!-- ur5_arm_ -->

    <!-- The max_velocity parameter is only used for debugging in the ur_driver. It's not related to actual velocity limits -->
    <arg name="max_velocity" default="10.0"/> <!-- [rad/s] -->

    <!-- copy the specified IP address to be consistant with ROS-Industrial spec.
    NOTE: The ip address is actually passed to the driver on the command line -->
    <param name="robot_reverse_port" type="int" value="$(arg reverse_port)"/>

    <!-- driver -->
    <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver" respawn="true" args="$(arg reverse_port)" output="screen">
      <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
      <param name="min_payload" type="double" value="$(arg min_payload)"/>
      <param name="max_payload" type="double" value="$(arg max_payload)"/>
      <param name="max_velocity" type="double" value="$(arg max_velocity)"/>
      <param name="prefix" type="string" value="$(arg prefix)"/>
      <remap from="follow_joint_trajectory" to="arm_controller/follow_joint_trajectory"/>
    </node>

</launch>
